name: Test

on:
  - push
  - pull_request

jobs:
  build:
    name: ${{ matrix.toxenv }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - python: 3.x
            toxenv: lint
          - python: 3.6
            toxenv: py36-django22
          - python: 3.7
            toxenv: py37-django22
          - python: 3.8
            toxenv: py38-django22
          - python: 3.9
            toxenv: py39-django22
          - python: 3.6
            toxenv: py36-django31
          - python: 3.7
            toxenv: py37-django31
          - python: 3.8
            toxenv: py38-django31
          - python: 3.9
            toxenv: py39-django31
          - python: 3.8
            toxenv: py38-djangomain
          - python: 3.9
            toxenv: py39-djangomain

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run
        run: tox -e ${{ matrix.toxenv }}
